[ 대구 북구와 중구 연령대별 인구수 분석 ]

- 분석목표: 아파트 실거래가 변화와 연령층 및 인구수 변화의 관련성
- 데이터셋: 아파트 실거래가, 연령대별 인구수
- 타겟컬럼: 아파트 실거래가
- 피쳐컬럼: 12개
<hr>

[1] 모듈 로딩 및 데이터 준비<hr>

In [60]:
## [1-1]
import pandas as pd       # 데이터 분석 및 전처리 관련 모듈
import numpy as np        # 배열(array) 파이썬 구현 관련 모듈

In [61]:
## [1-2] 데이터 준비
age_bukgu_01 = '../TEAM_Project/DATA/2301bukgu.csv'
age_bukgu_12 = '../TEAM_Project/DATA/2312bukgu.csv'
age_junggu_01 = '../TEAM_Project/DATA/2301junggu.csv'
age_junggu_12 = '../TEAM_Project/DATA/2312junggu.csv'

[2] 데이터 로딩 및 확인<hr>

In [62]:
## 데이터 로딩
age_bukgu_01DF=pd.read_csv(age_bukgu_01, encoding='euc-kr')
age_bukgu_12DF=pd.read_csv(age_bukgu_12, encoding='euc-kr')
age_junggu_01DF=pd.read_csv(age_junggu_01, encoding='euc-kr')
age_junggu_12DF=pd.read_csv(age_junggu_12, encoding='euc-kr')

In [63]:
age_bukgu_01DF.head(1)

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),"428,818","428,818","28,857","41,078","58,942","50,075","66,674","77,457","59,797",...,"19,887","27,158","23,283","33,919","39,340","30,689","16,940","9,223","1,306",40

In [64]:
age_bukgu_12DF.head(1)

,행정구역,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,...,2023년12월_여_거주자_10~19세,2023년12월_여_거주자_20~29세,2023년12월_여_거주자_30~39세,2023년12월_여_거주자_40~49세,2023년12월_여_거주자_50~59세,2023년12월_여_거주자_60~69세,2023년12월_여_거주자_70~79세,2023년12월_여_거주자_80~89세,2023년12월_여_거주자_90~99세,2023년12월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),"418,407","418,407","26,075","39,062","56,260","48,225","62,986","77,130","61,027",...,"18,966","26,058","22,181","31,996","39,209","31,406","17,307","9,668","1,437",38

In [65]:
age_junggu_01DF.head(1)

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 중구 (2711000000),"80,407","80,407","5,711","5,705","11,958","12,110","11,567","11,667","10,381",...,"2,828","6,350","5,807","5,789","5,902","5,553","4,150","2,302",369,13

In [66]:
age_junggu_12DF.head(1)

,행정구역,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,...,2023년12월_여_거주자_10~19세,2023년12월_여_거주자_20~29세,2023년12월_여_거주자_30~39세,2023년12월_여_거주자_40~49세,2023년12월_여_거주자_50~59세,2023년12월_여_거주자_60~69세,2023년12월_여_거주자_70~79세,2023년12월_여_거주자_80~89세,2023년12월_여_거주자_90~99세,2023년12월_여_거주자_100세 이상
0,대구광역시 중구 (2711000000),"88,481","88,481","6,806","6,229","12,612","14,436","12,906","12,660","10,959",...,"3,127","6,792","6,951","6,395","6,488","5,867","4,334","2,468",399,12

In [67]:
## 데이터 확인
## - 요약 정보
## (1) 데이터와 타입 불일치 => 행정구역 컬럼
##                            2023년01월_거주자_100세 이상
##                            object => int
## (2) 데이터 실제 의미와 타입 ==> 
## (3) 데이터 범위 변환 ==>

In [68]:
age_bukgu_01DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    24 non-null     object
 1   2023년01월_거주자_총인구수       24 non-null     object
 2   2023년01월_거주자_연령구간인구수    24 non-null     object
 3   2023년01월_거주자_0~9세       24 non-null     object
 4   2023년01월_거주자_10~19세     24 non-null     object
 5   2023년01월_거주자_20~29세     24 non-null     object
 6   2023년01월_거주자_30~39세     24 non-null     object
 7   2023년01월_거주자_40~49세     24 non-null     object
 8   2023년01월_거주자_50~59세     24 non-null     object
 9   2023년01월_거주자_60~69세     24 non-null     object
 10  2023년01월_거주자_70~79세     24 non-null     object
 11  2023년01월_거주자_80~89세     24 non-null     object
 12  2023년01월_거주자_90~99세     24 non-null     object
 13  2023년01월_거주자_100세 이상    24 non-null     int64
 14  2023년01월_남_거주자_총인구수     24 non-null     object
 15  2023년01월_남_거주자_연령구간인구수  24 non-null     object
 16  2023년01월_남_거주자_0~9세     24 non-null     object
 17  2023년01월_남_거주자_10~19세   24 non-null     object
 18  2023년01월_남_거주자_20~29세   24 non-null     object
 19  2023년01월_남_거주자_30~39세   24 non-null     object
 20  2023년01월_남_거주자_40~49세   24 non-null     object
 21  2023년01월_남_거주자_50~59세   24 non-null     object
 22  2023년01월_남_거주자_60~69세   24 non-null     object
 23  2023년01월_남_거주자_70~79세   24 non-null     object
 24  2023년01월_남_거주자_80~89세   24 non-null     object
 25  2023년01월_남_거주자_90~99세   24 non-null     int64
 26  2023년01월_남_거주자_100세 이상  24 non-null     int64
 27  2023년01월_여_거주자_총인구수     24 non-null     object
 28  2023년01월_여_거주자_연령구간인구수  24 non-null     object
 29  2023년01월_여_거주자_0~9세     24 non-null     object
 30  2023년01월_여_거주자_10~19세   24 non-null     object
 31  2023년01월_여_거주자_20~29세   24 non-null     object
 32  2023년01월_여_거주자_30~39세   24 non-null     object
 33  2023년01월_여_거주자_40~49세   24 non-null     object
 34  2023년01월_여_거주자_50~59세   24 non-null     object
 35  2023년01월_여_거주자_60~69세   24 non-null     object
 36  2023년01월_여_거주자_70~79세   24 non-null     object
 37  2023년01월_여_거주자_80~89세   24 non-null     object
 38  2023년01월_여_거주자_90~99세   24 non-null     object
 39  2023년01월_여_거주자_100세 이상  24 non-null     int64
dtypes: int64(4), object(36)
memory usage: 7.6+ KB

In [69]:
# ## , 삭제
age_bukgu_01DF=age_bukgu_01DF.replace({',':''}, regex=True)

In [70]:
age_bukgu_01DF

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),428818,428818,28857,41078,58942,50075,66674,77457,59797,...,19887,27158,23283,33919,39340,30689,16940,9223,1306,40
1,대구광역시 북구 고성동(2723051000),4634,4634,319,323,465,668,639,713,731,...,167,214,323,305,352,403,298,159,22,1
2,대구광역시 북구 칠성동(2723052600),22929,22929,2006,2124,2632,3351,4086,3278,2778,...,1076,1362,1696,2096,1689,1444,939,568,97,3
3,대구광역시 북구 침산1동(2723055000),3934,3934,138,191,398,413,425,779,923,...,86,166,156,180,383,431,229,138,17,2
4,대구광역시 북구 침산2동(2723056000),18326,18326,1842,2309,1884,2303,3524,2862,1965,...,1127,911,1199,1853,1454,1071,613,297,46,2
5,대구광역시 북구 침산3동(2723057000),19300,19300,1468,2137,2118,1968,3226,3435,2608,...,1047,1006,1007,1708,1773,1372,882,456,65,5
6,대구광역시 북구 산격1동(2723061000),8696,8696,185,379,809,685,906,1666,2009,...,177,338,285,371,803,1019,819,438,39,1
7,대구광역시 북구 산격2동(2723062000),10481,10481,485,783,1431,1108,1297,2068,1884,...,390,640,485,679,1115,973,534,286,32,1
8,대구광역시 북구 산격3동(2723063000),9186,9186,211,512,2791,1119,928,1145,1284,...,263,1242,406,390,542,678,450,243,34,0
9,대구광역시 북구 산격4동(2723063100),8127,8127,230,438,1136,955,986,1378,1594,...,181,487,341,412,668,863,506,247,44,2
10,대구광역시 북구 대현동(2723064500),16853,16853,876,1139,2806,1785,2334,2601,2606,...,561,1076,789,1120,1285,1413,975,591,84,1
11,대구광역시 북구 복현1동(2723067100),7347,7347,148,299,2513,1004,733,1030,959,...,140,1042,345,300,493,503,242,120,15,0
12,대구광역시 북구 복현2동(2723067200),30902,30902,2286,3170,4303,4052,4772,5317,4284,...,1540,1937,1881,2507,2805,2221,995,507,93,2
13,대구광역시 북구 검단동(2723068000),6223,6223,212,349,639,673,788,1056,1338,...,164,288,276,344,516,744,434,231,31,0
14,대구광역시 북구 무태조야동(2723069500),35727,35727,3046,3695,4023,4156,6494,6663,4417,...,1804,1852,1962,3264,3100,2250,1214,538,75,1
15,대구광역시 북구 관문동(2723071500),35753,35753,3920,3336,3379,5191,6462,5790,4705,...,1644,1539,2585,3126,2994,2443,1121,536,91,3
16,대구광역시 북구 태전1동(2723072500),21788,21788,1062,1679,3922,2461,2771,4007,3395,...,824,1921,1062,1360,2056,1723,889,482,87,3
17,대구광역시 북구 태전2동(2723073500),23887,23887,1331,2251,3424,2569,3463,4548,3683,...,1064,1631,1180,1794,2423,1928,1022,488,62,2
18,대구광역시 북구 구암동(2723074500),34104,34104,2052,4380,4899,3172,5690,7263,3959,...,2097,2287,1519,3127,3729,1930,981,623,83,2
19,대구광역시 북구 관음동(2723075000),15912,15912,686,1348,2069,1542,2057,3327,2887,...,649,910,657,1004,1702,1443,664,475,50,4
20,대구광역시 북구 읍내동(2723077000),26033,26033,1426,2209,3904,3087,3304,5214,4110,...,1029,1810,1415,1748,2762,2069,964,607,78,4
21,대구광역시 북구 동천동(2723078000),27254,27254,1813,3787,3936,2622,4877,5783,2508,...,1811,1845,1319,2755,2951,1235,746,450,51,0
22,대구광역시 북구 노원동(2723079000),11007,11007,505,535,1067,1351,1409,1978,2372,...,257,498,538,594,955,1178,702,256,41,0
23,대구광역시 북구 국우동(2723080000),30415,30415,2610,3705,4394,3840,5503,5556,2798,...,1789,2156,1857,2882,2790,1355,721,487,69,1

In [71]:
# 숫자 형태의 문자열이 포함된 'object'타입 컬럼 => 'int' 타입

# NaN 값을 처리
for col in age_bukgu_01DF.columns:
    if col != '행정구역':
        age_bukgu_01DF[col] = pd.to_numeric(age_bukgu_01DF[col], errors='coerce').astype('Int64')

In [72]:
age_bukgu_01DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    24 non-null     object
 1   2023년01월_거주자_총인구수       24 non-null     Int64
 2   2023년01월_거주자_연령구간인구수    24 non-null     Int64
 3   2023년01월_거주자_0~9세       24 non-null     Int64
 4   2023년01월_거주자_10~19세     24 non-null     Int64
 5   2023년01월_거주자_20~29세     24 non-null     Int64
 6   2023년01월_거주자_30~39세     24 non-null     Int64
 7   2023년01월_거주자_40~49세     24 non-null     Int64
 8   2023년01월_거주자_50~59세     24 non-null     Int64
 9   2023년01월_거주자_60~69세     24 non-null     Int64
 10  2023년01월_거주자_70~79세     24 non-null     Int64
 11  2023년01월_거주자_80~89세     24 non-null     Int64
 12  2023년01월_거주자_90~99세     24 non-null     Int64
 13  2023년01월_거주자_100세 이상    24 non-null     Int64
 14  2023년01월_남_거주자_총인구수     24 non-null     Int64
 15  2023년01월_남_거주자_연령구간인구수  24 non-null     Int64
 16  2023년01월_남_거주자_0~9세     24 non-null     Int64
 17  2023년01월_남_거주자_10~19세   24 non-null     Int64
 18  2023년01월_남_거주자_20~29세   24 non-null     Int64
 19  2023년01월_남_거주자_30~39세   24 non-null     Int64
 20  2023년01월_남_거주자_40~49세   24 non-null     Int64
 21  2023년01월_남_거주자_50~59세   24 non-null     Int64
 22  2023년01월_남_거주자_60~69세   24 non-null     Int64
 23  2023년01월_남_거주자_70~79세   24 non-null     Int64
 24  2023년01월_남_거주자_80~89세   24 non-null     Int64
 25  2023년01월_남_거주자_90~99세   24 non-null     Int64
 26  2023년01월_남_거주자_100세 이상  24 non-null     Int64
 27  2023년01월_여_거주자_총인구수     24 non-null     Int64
 28  2023년01월_여_거주자_연령구간인구수  24 non-null     Int64
 29  2023년01월_여_거주자_0~9세     24 non-null     Int64
 30  2023년01월_여_거주자_10~19세   24 non-null     Int64
 31  2023년01월_여_거주자_20~29세   24 non-null     Int64
 32  2023년01월_여_거주자_30~39세   24 non-null     Int64
 33  2023년01월_여_거주자_40~49세   24 non-null     Int64
 34  2023년01월_여_거주자_50~59세   24 non-null     Int64
 35  2023년01월_여_거주자_60~69세   24 non-null     Int64
 36  2023년01월_여_거주자_70~79세   24 non-null     Int64
 37  2023년01월_여_거주자_80~89세   24 non-null     Int64
 38  2023년01월_여_거주자_90~99세   24 non-null     Int64
 39  2023년01월_여_거주자_100세 이상  24 non-null     Int64
dtypes: Int64(39), object(1)
memory usage: 8.5+ KB

In [73]:
age_bukgu_01DF

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),428818,428818,28857,41078,58942,50075,66674,77457,59797,...,19887,27158,23283,33919,39340,30689,16940,9223,1306,40
1,대구광역시 북구 고성동(2723051000),4634,4634,319,323,465,668,639,713,731,...,167,214,323,305,352,403,298,159,22,1
2,대구광역시 북구 칠성동(2723052600),22929,22929,2006,2124,2632,3351,4086,3278,2778,...,1076,1362,1696,2096,1689,1444,939,568,97,3
3,대구광역시 북구 침산1동(2723055000),3934,3934,138,191,398,413,425,779,923,...,86,166,156,180,383,431,229,138,17,2
4,대구광역시 북구 침산2동(2723056000),18326,18326,1842,2309,1884,2303,3524,2862,1965,...,1127,911,1199,1853,1454,1071,613,297,46,2
5,대구광역시 북구 침산3동(2723057000),19300,19300,1468,2137,2118,1968,3226,3435,2608,...,1047,1006,1007,1708,1773,1372,882,456,65,5
6,대구광역시 북구 산격1동(2723061000),8696,8696,185,379,809,685,906,1666,2009,...,177,338,285,371,803,1019,819,438,39,1
7,대구광역시 북구 산격2동(2723062000),10481,10481,485,783,1431,1108,1297,2068,1884,...,390,640,485,679,1115,973,534,286,32,1
8,대구광역시 북구 산격3동(2723063000),9186,9186,211,512,2791,1119,928,1145,1284,...,263,1242,406,390,542,678,450,243,34,0
9,대구광역시 북구 산격4동(2723063100),8127,8127,230,438,1136,955,986,1378,1594,...,181,487,341,412,668,863,506,247,44,2
10,대구광역시 북구 대현동(2723064500),16853,16853,876,1139,2806,1785,2334,2601,2606,...,561,1076,789,1120,1285,1413,975,591,84,1
11,대구광역시 북구 복현1동(2723067100),7347,7347,148,299,2513,1004,733,1030,959,...,140,1042,345,300,493,503,242,120,15,0
12,대구광역시 북구 복현2동(2723067200),30902,30902,2286,3170,4303,4052,4772,5317,4284,...,1540,1937,1881,2507,2805,2221,995,507,93,2
13,대구광역시 북구 검단동(2723068000),6223,6223,212,349,639,673,788,1056,1338,...,164,288,276,344,516,744,434,231,31,0
14,대구광역시 북구 무태조야동(2723069500),35727,35727,3046,3695,4023,4156,6494,6663,4417,...,1804,1852,1962,3264,3100,2250,1214,538,75,1
15,대구광역시 북구 관문동(2723071500),35753,35753,3920,3336,3379,5191,6462,5790,4705,...,1644,1539,2585,3126,2994,2443,1121,536,91,3
16,대구광역시 북구 태전1동(2723072500),21788,21788,1062,1679,3922,2461,2771,4007,3395,...,824,1921,1062,1360,2056,1723,889,482,87,3
17,대구광역시 북구 태전2동(2723073500),23887,23887,1331,2251,3424,2569,3463,4548,3683,...,1064,1631,1180,1794,2423,1928,1022,488,62,2
18,대구광역시 북구 구암동(2723074500),34104,34104,2052,4380,4899,3172,5690,7263,3959,...,2097,2287,1519,3127,3729,1930,981,623,83,2
19,대구광역시 북구 관음동(2723075000),15912,15912,686,1348,2069,1542,2057,3327,2887,...,649,910,657,1004,1702,1443,664,475,50,4
20,대구광역시 북구 읍내동(2723077000),26033,26033,1426,2209,3904,3087,3304,5214,4110,...,1029,1810,1415,1748,2762,2069,964,607,78,4
21,대구광역시 북구 동천동(2723078000),27254,27254,1813,3787,3936,2622,4877,5783,2508,...,1811,1845,1319,2755,2951,1235,746,450,51,0
22,대구광역시 북구 노원동(2723079000),11007,11007,505,535,1067,1351,1409,1978,2372,...,257,498,538,594,955,1178,702,256,41,0
23,대구광역시 북구 국우동(2723080000),30415,30415,2610,3705,4394,3840,5503,5556,2798,...,1789,2156,1857,2882,2790,1355,721,487,69,1

<hr>

In [74]:
age_bukgu_12DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    24 non-null     object
 1   2023년12월_거주자_총인구수       24 non-null     object
 2   2023년12월_거주자_연령구간인구수    24 non-null     object
 3   2023년12월_거주자_0~9세       24 non-null     object
 4   2023년12월_거주자_10~19세     24 non-null     object
 5   2023년12월_거주자_20~29세     24 non-null     object
 6   2023년12월_거주자_30~39세     24 non-null     object
 7   2023년12월_거주자_40~49세     24 non-null     object
 8   2023년12월_거주자_50~59세     24 non-null     object
 9   2023년12월_거주자_60~69세     24 non-null     object
 10  2023년12월_거주자_70~79세     24 non-null     object
 11  2023년12월_거주자_80~89세     24 non-null     object
 12  2023년12월_거주자_90~99세     24 non-null     object
 13  2023년12월_거주자_100세 이상    24 non-null     int64
 14  2023년12월_남_거주자_총인구수     24 non-null     object
 15  2023년12월_남_거주자_연령구간인구수  24 non-null     object
 16  2023년12월_남_거주자_0~9세     24 non-null     object
 17  2023년12월_남_거주자_10~19세   24 non-null     object
 18  2023년12월_남_거주자_20~29세   24 non-null     object
 19  2023년12월_남_거주자_30~39세   24 non-null     object
 20  2023년12월_남_거주자_40~49세   24 non-null     object
 21  2023년12월_남_거주자_50~59세   24 non-null     object
 22  2023년12월_남_거주자_60~69세   24 non-null     object
 23  2023년12월_남_거주자_70~79세   24 non-null     object
 24  2023년12월_남_거주자_80~89세   24 non-null     object
 25  2023년12월_남_거주자_90~99세   24 non-null     int64
 26  2023년12월_남_거주자_100세 이상  24 non-null     int64
 27  2023년12월_여_거주자_총인구수     24 non-null     object
 28  2023년12월_여_거주자_연령구간인구수  24 non-null     object
 29  2023년12월_여_거주자_0~9세     24 non-null     object
 30  2023년12월_여_거주자_10~19세   24 non-null     object
 31  2023년12월_여_거주자_20~29세   24 non-null     object
 32  2023년12월_여_거주자_30~39세   24 non-null     object
 33  2023년12월_여_거주자_40~49세   24 non-null     object
 34  2023년12월_여_거주자_50~59세   24 non-null     object
 35  2023년12월_여_거주자_60~69세   24 non-null     object
 36  2023년12월_여_거주자_70~79세   24 non-null     object
 37  2023년12월_여_거주자_80~89세   24 non-null     object
 38  2023년12월_여_거주자_90~99세   24 non-null     object
 39  2023년12월_여_거주자_100세 이상  24 non-null     int64
dtypes: int64(4), object(36)
memory usage: 7.6+ KB

In [75]:
# ## , 삭제
age_bukgu_12DF=age_bukgu_12DF.replace({',':''}, regex=True)

In [76]:
# 숫자 형태의 문자열이 포함된 'object'타입 컬럼 => 'int' 타입

# NaN 값을 처리
for col in age_bukgu_12DF.columns:
    if col != '행정구역':
        age_bukgu_12DF[col] = pd.to_numeric(age_bukgu_12DF[col], errors='coerce').astype('Int64')

In [77]:
age_bukgu_12DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    24 non-null     object
 1   2023년12월_거주자_총인구수       24 non-null     Int64
 2   2023년12월_거주자_연령구간인구수    24 non-null     Int64
 3   2023년12월_거주자_0~9세       24 non-null     Int64
 4   2023년12월_거주자_10~19세     24 non-null     Int64
 5   2023년12월_거주자_20~29세     24 non-null     Int64
 6   2023년12월_거주자_30~39세     24 non-null     Int64
 7   2023년12월_거주자_40~49세     24 non-null     Int64
 8   2023년12월_거주자_50~59세     24 non-null     Int64
 9   2023년12월_거주자_60~69세     24 non-null     Int64
 10  2023년12월_거주자_70~79세     24 non-null     Int64
 11  2023년12월_거주자_80~89세     24 non-null     Int64
 12  2023년12월_거주자_90~99세     24 non-null     Int64
 13  2023년12월_거주자_100세 이상    24 non-null     Int64
 14  2023년12월_남_거주자_총인구수     24 non-null     Int64
 15  2023년12월_남_거주자_연령구간인구수  24 non-null     Int64
 16  2023년12월_남_거주자_0~9세     24 non-null     Int64
 17  2023년12월_남_거주자_10~19세   24 non-null     Int64
 18  2023년12월_남_거주자_20~29세   24 non-null     Int64
 19  2023년12월_남_거주자_30~39세   24 non-null     Int64
 20  2023년12월_남_거주자_40~49세   24 non-null     Int64
 21  2023년12월_남_거주자_50~59세   24 non-null     Int64
 22  2023년12월_남_거주자_60~69세   24 non-null     Int64
 23  2023년12월_남_거주자_70~79세   24 non-null     Int64
 24  2023년12월_남_거주자_80~89세   24 non-null     Int64
 25  2023년12월_남_거주자_90~99세   24 non-null     Int64
 26  2023년12월_남_거주자_100세 이상  24 non-null     Int64
 27  2023년12월_여_거주자_총인구수     24 non-null     Int64
 28  2023년12월_여_거주자_연령구간인구수  24 non-null     Int64
 29  2023년12월_여_거주자_0~9세     24 non-null     Int64
 30  2023년12월_여_거주자_10~19세   24 non-null     Int64
 31  2023년12월_여_거주자_20~29세   24 non-null     Int64
 32  2023년12월_여_거주자_30~39세   24 non-null     Int64
 33  2023년12월_여_거주자_40~49세   24 non-null     Int64
 34  2023년12월_여_거주자_50~59세   24 non-null     Int64
 35  2023년12월_여_거주자_60~69세   24 non-null     Int64
 36  2023년12월_여_거주자_70~79세   24 non-null     Int64
 37  2023년12월_여_거주자_80~89세   24 non-null     Int64
 38  2023년12월_여_거주자_90~99세   24 non-null     Int64
 39  2023년12월_여_거주자_100세 이상  24 non-null     Int64
dtypes: Int64(39), object(1)
memory usage: 8.5+ KB

In [78]:
age_bukgu_12DF

,행정구역,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,...,2023년12월_여_거주자_10~19세,2023년12월_여_거주자_20~29세,2023년12월_여_거주자_30~39세,2023년12월_여_거주자_40~49세,2023년12월_여_거주자_50~59세,2023년12월_여_거주자_60~69세,2023년12월_여_거주자_70~79세,2023년12월_여_거주자_80~89세,2023년12월_여_거주자_90~99세,2023년12월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),418407,418407,26075,39062,56260,48225,62986,77130,61027,...,18966,26058,22181,31996,39209,31406,17307,9668,1437,38
1,대구광역시 북구 고성동(2723051000),7770,7770,887,562,697,1757,1245,966,833,...,291,350,832,600,473,461,308,171,25,1
2,대구광역시 북구 칠성동(2723052600),22123,22123,1733,2092,2539,3156,3828,3276,2807,...,1070,1313,1565,1965,1694,1484,942,568,101,5
3,대구광역시 북구 침산1동(2723055000),3736,3736,122,161,352,377,381,728,914,...,71,149,151,160,332,441,235,145,22,2
4,대구광역시 북구 침산2동(2723056000),17817,17817,1622,2276,1847,2149,3365,2878,1989,...,1116,905,1084,1788,1462,1075,634,320,48,1
5,대구광역시 북구 침산3동(2723057000),18673,18673,1318,2022,2001,1854,2983,3436,2647,...,1005,933,949,1588,1788,1385,910,482,63,1
6,대구광역시 북구 산격1동(2723061000),8274,8274,161,355,679,634,819,1574,1953,...,173,284,241,343,758,979,821,442,54,1
7,대구광역시 북구 산격2동(2723062000),10048,10048,422,744,1271,1058,1195,1967,1890,...,361,560,458,605,1054,985,551,306,39,2
8,대구광역시 북구 산격3동(2723063000),8680,8680,172,380,2652,1047,872,1064,1254,...,197,1184,376,343,499,668,463,258,36,0
9,대구광역시 북구 산격4동(2723063100),7749,7749,218,406,1007,905,892,1303,1564,...,166,431,324,372,626,840,524,261,42,1
10,대구광역시 북구 대현동(2723064500),16297,16297,715,1074,2769,1628,2198,2547,2573,...,536,1075,706,1067,1248,1400,1006,621,88,0
11,대구광역시 북구 복현1동(2723067100),7021,7021,115,249,2432,954,682,977,952,...,123,1007,324,270,453,499,233,121,16,0
12,대구광역시 북구 복현2동(2723067200),29694,29694,2018,2991,4067,3838,4527,5175,4272,...,1440,1845,1765,2351,2765,2225,1029,502,104,2
13,대구광역시 북구 검단동(2723068000),5911,5911,179,306,564,600,724,1004,1317,...,146,266,240,326,464,743,445,245,31,0
14,대구광역시 북구 무태조야동(2723069500),34463,34463,2740,3506,3764,3727,6101,6763,4450,...,1720,1729,1719,3058,3172,2236,1277,574,79,1
15,대구광역시 북구 관문동(2723071500),34216,34216,3447,3282,3098,4617,6210,5680,4792,...,1607,1417,2305,3017,2932,2481,1168,549,100,2
16,대구광역시 북구 태전1동(2723072500),21995,21995,979,1584,4011,2450,2723,4071,3565,...,752,2022,1051,1336,2090,1823,896,532,97,3
17,대구광역시 북구 태전2동(2723073500),23153,23153,1192,2098,3282,2444,3142,4508,3735,...,987,1579,1111,1611,2397,1974,1069,512,64,4
18,대구광역시 북구 구암동(2723074500),32804,32804,1768,4079,4588,2946,5245,7230,4215,...,1960,2161,1396,2881,3764,2063,956,646,89,4
19,대구광역시 북구 관음동(2723075000),15148,15148,568,1208,1937,1443,1792,3235,2943,...,589,848,615,870,1643,1488,663,475,54,3
20,대구광역시 북구 읍내동(2723077000),25133,25133,1299,2034,3574,2925,3076,5064,4269,...,946,1630,1331,1598,2689,2166,959,652,97,4
21,대구광역시 북구 동천동(2723078000),26379,26379,1543,3564,3781,2478,4410,5937,2694,...,1719,1762,1241,2500,3060,1320,737,481,61,0
22,대구광역시 북구 노원동(2723079000),10487,10487,424,511,965,1255,1266,1878,2324,...,258,463,498,537,902,1159,715,271,44,0
23,대구광역시 북구 국우동(2723080000),30836,30836,2433,3578,4383,3983,5310,5869,3075,...,1733,2145,1899,2810,2944,1511,766,534,83,1

In [79]:
age_junggu_01DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    13 non-null     object
 1   2023년01월_거주자_총인구수       13 non-null     object
 2   2023년01월_거주자_연령구간인구수    13 non-null     object
 3   2023년01월_거주자_0~9세       13 non-null     object
 4   2023년01월_거주자_10~19세     13 non-null     object
 5   2023년01월_거주자_20~29세     13 non-null     object
 6   2023년01월_거주자_30~39세     13 non-null     object
 7   2023년01월_거주자_40~49세     13 non-null     object
 8   2023년01월_거주자_50~59세     13 non-null     object
 9   2023년01월_거주자_60~69세     13 non-null     object
 10  2023년01월_거주자_70~79세     13 non-null     object
 11  2023년01월_거주자_80~89세     13 non-null     object
 12  2023년01월_거주자_90~99세     13 non-null     int64
 13  2023년01월_거주자_100세 이상    13 non-null     int64
 14  2023년01월_남_거주자_총인구수     13 non-null     object
 15  2023년01월_남_거주자_연령구간인구수  13 non-null     object
 16  2023년01월_남_거주자_0~9세     13 non-null     object
 17  2023년01월_남_거주자_10~19세   13 non-null     object
 18  2023년01월_남_거주자_20~29세   13 non-null     object
 19  2023년01월_남_거주자_30~39세   13 non-null     object
 20  2023년01월_남_거주자_40~49세   13 non-null     object
 21  2023년01월_남_거주자_50~59세   13 non-null     object
 22  2023년01월_남_거주자_60~69세   13 non-null     object
 23  2023년01월_남_거주자_70~79세   13 non-null     object
 24  2023년01월_남_거주자_80~89세   13 non-null     object
 25  2023년01월_남_거주자_90~99세   13 non-null     int64
 26  2023년01월_남_거주자_100세 이상  13 non-null     int64
 27  2023년01월_여_거주자_총인구수     13 non-null     object
 28  2023년01월_여_거주자_연령구간인구수  13 non-null     object
 29  2023년01월_여_거주자_0~9세     13 non-null     object
 30  2023년01월_여_거주자_10~19세   13 non-null     object
 31  2023년01월_여_거주자_20~29세   13 non-null     object
 32  2023년01월_여_거주자_30~39세   13 non-null     object
 33  2023년01월_여_거주자_40~49세   13 non-null     object
 34  2023년01월_여_거주자_50~59세   13 non-null     object
 35  2023년01월_여_거주자_60~69세   13 non-null     object
 36  2023년01월_여_거주자_70~79세   13 non-null     object
 37  2023년01월_여_거주자_80~89세   13 non-null     object
 38  2023년01월_여_거주자_90~99세   13 non-null     int64
 39  2023년01월_여_거주자_100세 이상  13 non-null     int64
dtypes: int64(6), object(34)
memory usage: 4.2+ KB

In [80]:
# ## , 삭제
age_junggu_01DF=age_junggu_01DF.replace({',':''}, regex=True)

In [81]:
# 숫자 형태의 문자열이 포함된 'object'타입 컬럼 => 'int' 타입

# NaN 값을 처리
for col in age_junggu_01DF.columns:
    if col != '행정구역':
        age_junggu_01DF[col] = pd.to_numeric(age_junggu_01DF[col], errors='coerce').astype('Int64')

In [82]:
age_junggu_01DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    13 non-null     object
 1   2023년01월_거주자_총인구수       13 non-null     Int64
 2   2023년01월_거주자_연령구간인구수    13 non-null     Int64
 3   2023년01월_거주자_0~9세       13 non-null     Int64
 4   2023년01월_거주자_10~19세     13 non-null     Int64
 5   2023년01월_거주자_20~29세     13 non-null     Int64
 6   2023년01월_거주자_30~39세     13 non-null     Int64
 7   2023년01월_거주자_40~49세     13 non-null     Int64
 8   2023년01월_거주자_50~59세     13 non-null     Int64
 9   2023년01월_거주자_60~69세     13 non-null     Int64
 10  2023년01월_거주자_70~79세     13 non-null     Int64
 11  2023년01월_거주자_80~89세     13 non-null     Int64
 12  2023년01월_거주자_90~99세     13 non-null     Int64
 13  2023년01월_거주자_100세 이상    13 non-null     Int64
 14  2023년01월_남_거주자_총인구수     13 non-null     Int64
 15  2023년01월_남_거주자_연령구간인구수  13 non-null     Int64
 16  2023년01월_남_거주자_0~9세     13 non-null     Int64
 17  2023년01월_남_거주자_10~19세   13 non-null     Int64
 18  2023년01월_남_거주자_20~29세   13 non-null     Int64
 19  2023년01월_남_거주자_30~39세   13 non-null     Int64
 20  2023년01월_남_거주자_40~49세   13 non-null     Int64
 21  2023년01월_남_거주자_50~59세   13 non-null     Int64
 22  2023년01월_남_거주자_60~69세   13 non-null     Int64
 23  2023년01월_남_거주자_70~79세   13 non-null     Int64
 24  2023년01월_남_거주자_80~89세   13 non-null     Int64
 25  2023년01월_남_거주자_90~99세   13 non-null     Int64
 26  2023년01월_남_거주자_100세 이상  13 non-null     Int64
 27  2023년01월_여_거주자_총인구수     13 non-null     Int64
 28  2023년01월_여_거주자_연령구간인구수  13 non-null     Int64
 29  2023년01월_여_거주자_0~9세     13 non-null     Int64
 30  2023년01월_여_거주자_10~19세   13 non-null     Int64
 31  2023년01월_여_거주자_20~29세   13 non-null     Int64
 32  2023년01월_여_거주자_30~39세   13 non-null     Int64
 33  2023년01월_여_거주자_40~49세   13 non-null     Int64
 34  2023년01월_여_거주자_50~59세   13 non-null     Int64
 35  2023년01월_여_거주자_60~69세   13 non-null     Int64
 36  2023년01월_여_거주자_70~79세   13 non-null     Int64
 37  2023년01월_여_거주자_80~89세   13 non-null     Int64
 38  2023년01월_여_거주자_90~99세   13 non-null     Int64
 39  2023년01월_여_거주자_100세 이상  13 non-null     Int64
dtypes: Int64(39), object(1)
memory usage: 4.7+ KB

In [83]:
age_junggu_01DF

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 중구 (2711000000),80407,80407,5711,5705,11958,12110,11567,11667,10381,...,2828,6350,5807,5789,5902,5553,4150,2302,369,13
1,대구광역시 중구 동인동(2711051700),7804,7804,260,434,1276,1159,954,1156,1191,...,219,660,523,427,526,604,484,280,51,3
2,대구광역시 중구 삼덕동(2711054500),6348,6348,335,381,1763,1182,836,668,608,...,194,984,544,407,331,344,204,126,16,1
3,대구광역시 중구 성내1동(2711056500),4762,4762,106,198,1510,821,481,542,504,...,103,907,347,229,246,242,217,122,31,0
4,대구광역시 중구 성내2동(2711057500),4736,4736,204,232,894,715,530,668,683,...,115,494,287,243,302,339,285,158,24,1
5,대구광역시 중구 성내3동(2711058500),4783,4783,557,264,507,884,752,632,607,...,132,251,435,349,309,302,202,116,13,0
6,대구광역시 중구 대신동(2711059500),7474,7474,730,528,712,1067,1198,1140,1093,...,243,346,542,579,595,591,380,189,26,2
7,대구광역시 중구 남산1동(2711064000),4412,4412,198,276,832,576,568,662,620,...,141,463,264,289,330,317,252,144,21,0
8,대구광역시 중구 남산2동(2711065000),7064,7064,752,537,839,1258,1130,987,745,...,292,445,648,561,496,392,299,147,36,2
9,대구광역시 중구 남산3동(2711066000),6406,6406,441,547,610,771,1048,1007,929,...,263,292,383,560,527,541,408,236,37,0
10,대구광역시 중구 남산4동(2711067000),14224,14224,1197,1245,1460,1942,2201,2176,1917,...,582,721,972,1152,1162,1100,786,436,53,3
11,대구광역시 중구 대봉1동(2711068000),7726,7726,536,691,1046,981,1126,1269,910,...,355,553,497,596,678,468,414,255,43,0
12,대구광역시 중구 대봉2동(2711069000),4668,4668,395,372,509,754,743,760,574,...,189,234,365,397,400,313,219,93,18,1

In [84]:
age_junggu_12DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    13 non-null     object
 1   2023년12월_거주자_총인구수       13 non-null     object
 2   2023년12월_거주자_연령구간인구수    13 non-null     object
 3   2023년12월_거주자_0~9세       13 non-null     object
 4   2023년12월_거주자_10~19세     13 non-null     object
 5   2023년12월_거주자_20~29세     13 non-null     object
 6   2023년12월_거주자_30~39세     13 non-null     object
 7   2023년12월_거주자_40~49세     13 non-null     object
 8   2023년12월_거주자_50~59세     13 non-null     object
 9   2023년12월_거주자_60~69세     13 non-null     object
 10  2023년12월_거주자_70~79세     13 non-null     object
 11  2023년12월_거주자_80~89세     13 non-null     object
 12  2023년12월_거주자_90~99세     13 non-null     int64
 13  2023년12월_거주자_100세 이상    13 non-null     int64
 14  2023년12월_남_거주자_총인구수     13 non-null     object
 15  2023년12월_남_거주자_연령구간인구수  13 non-null     object
 16  2023년12월_남_거주자_0~9세     13 non-null     object
 17  2023년12월_남_거주자_10~19세   13 non-null     object
 18  2023년12월_남_거주자_20~29세   13 non-null     object
 19  2023년12월_남_거주자_30~39세   13 non-null     object
 20  2023년12월_남_거주자_40~49세   13 non-null     object
 21  2023년12월_남_거주자_50~59세   13 non-null     object
 22  2023년12월_남_거주자_60~69세   13 non-null     object
 23  2023년12월_남_거주자_70~79세   13 non-null     object
 24  2023년12월_남_거주자_80~89세   13 non-null     object
 25  2023년12월_남_거주자_90~99세   13 non-null     int64
 26  2023년12월_남_거주자_100세 이상  13 non-null     int64
 27  2023년12월_여_거주자_총인구수     13 non-null     object
 28  2023년12월_여_거주자_연령구간인구수  13 non-null     object
 29  2023년12월_여_거주자_0~9세     13 non-null     object
 30  2023년12월_여_거주자_10~19세   13 non-null     object
 31  2023년12월_여_거주자_20~29세   13 non-null     object
 32  2023년12월_여_거주자_30~39세   13 non-null     object
 33  2023년12월_여_거주자_40~49세   13 non-null     object
 34  2023년12월_여_거주자_50~59세   13 non-null     object
 35  2023년12월_여_거주자_60~69세   13 non-null     object
 36  2023년12월_여_거주자_70~79세   13 non-null     object
 37  2023년12월_여_거주자_80~89세   13 non-null     object
 38  2023년12월_여_거주자_90~99세   13 non-null     int64
 39  2023년12월_여_거주자_100세 이상  13 non-null     int64
dtypes: int64(6), object(34)
memory usage: 4.2+ KB

In [85]:
# ## , 삭제
age_junggu_12DF=age_junggu_12DF.replace({',':''}, regex=True)

In [86]:
# 숫자 형태의 문자열이 포함된 'object'타입 컬럼 => 'int' 타입

# NaN 값을 처리
for col in age_junggu_12DF.columns:
    if col != '행정구역':
        age_junggu_12DF[col] = pd.to_numeric(age_junggu_12DF[col], errors='coerce').astype('Int64')

In [87]:
age_junggu_12DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 40 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   행정구역                    13 non-null     object
 1   2023년12월_거주자_총인구수       13 non-null     Int64
 2   2023년12월_거주자_연령구간인구수    13 non-null     Int64
 3   2023년12월_거주자_0~9세       13 non-null     Int64
 4   2023년12월_거주자_10~19세     13 non-null     Int64
 5   2023년12월_거주자_20~29세     13 non-null     Int64
 6   2023년12월_거주자_30~39세     13 non-null     Int64
 7   2023년12월_거주자_40~49세     13 non-null     Int64
 8   2023년12월_거주자_50~59세     13 non-null     Int64
 9   2023년12월_거주자_60~69세     13 non-null     Int64
 10  2023년12월_거주자_70~79세     13 non-null     Int64
 11  2023년12월_거주자_80~89세     13 non-null     Int64
 12  2023년12월_거주자_90~99세     13 non-null     Int64
 13  2023년12월_거주자_100세 이상    13 non-null     Int64
 14  2023년12월_남_거주자_총인구수     13 non-null     Int64
 15  2023년12월_남_거주자_연령구간인구수  13 non-null     Int64
 16  2023년12월_남_거주자_0~9세     13 non-null     Int64
 17  2023년12월_남_거주자_10~19세   13 non-null     Int64
 18  2023년12월_남_거주자_20~29세   13 non-null     Int64
 19  2023년12월_남_거주자_30~39세   13 non-null     Int64
 20  2023년12월_남_거주자_40~49세   13 non-null     Int64
 21  2023년12월_남_거주자_50~59세   13 non-null     Int64
 22  2023년12월_남_거주자_60~69세   13 non-null     Int64
 23  2023년12월_남_거주자_70~79세   13 non-null     Int64
 24  2023년12월_남_거주자_80~89세   13 non-null     Int64
 25  2023년12월_남_거주자_90~99세   13 non-null     Int64
 26  2023년12월_남_거주자_100세 이상  13 non-null     Int64
 27  2023년12월_여_거주자_총인구수     13 non-null     Int64
 28  2023년12월_여_거주자_연령구간인구수  13 non-null     Int64
 29  2023년12월_여_거주자_0~9세     13 non-null     Int64
 30  2023년12월_여_거주자_10~19세   13 non-null     Int64
 31  2023년12월_여_거주자_20~29세   13 non-null     Int64
 32  2023년12월_여_거주자_30~39세   13 non-null     Int64
 33  2023년12월_여_거주자_40~49세   13 non-null     Int64
 34  2023년12월_여_거주자_50~59세   13 non-null     Int64
 35  2023년12월_여_거주자_60~69세   13 non-null     Int64
 36  2023년12월_여_거주자_70~79세   13 non-null     Int64
 37  2023년12월_여_거주자_80~89세   13 non-null     Int64
 38  2023년12월_여_거주자_90~99세   13 non-null     Int64
 39  2023년12월_여_거주자_100세 이상  13 non-null     Int64
dtypes: Int64(39), object(1)
memory usage: 4.7+ KB

In [88]:
age_junggu_12DF

,행정구역,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,...,2023년12월_여_거주자_10~19세,2023년12월_여_거주자_20~29세,2023년12월_여_거주자_30~39세,2023년12월_여_거주자_40~49세,2023년12월_여_거주자_50~59세,2023년12월_여_거주자_60~69세,2023년12월_여_거주자_70~79세,2023년12월_여_거주자_80~89세,2023년12월_여_거주자_90~99세,2023년12월_여_거주자_100세 이상
0,대구광역시 중구 (2711000000),88481,88481,6806,6229,12612,14436,12906,12660,10959,...,3127,6792,6951,6395,6488,5867,4334,2468,399,12
1,대구광역시 중구 동인동(2711051700),8286,8286,302,457,1291,1382,977,1233,1204,...,222,673,623,450,577,609,503,307,59,2
2,대구광역시 중구 삼덕동(2711054500),6601,6601,350,438,1728,1222,901,743,622,...,218,942,543,446,377,348,206,134,18,1
3,대구광역시 중구 성내1동(2711056500),4805,4805,98,188,1515,867,472,539,512,...,100,903,395,213,253,241,220,128,32,1
4,대구광역시 중구 성내2동(2711057500),5812,5812,333,319,1116,997,709,783,745,...,171,623,430,334,362,371,286,157,22,0
5,대구광역시 중구 성내3동(2711058500),8978,8978,1213,535,872,2081,1514,1031,950,...,273,478,1001,700,536,500,279,160,20,0
6,대구광역시 중구 대신동(2711059500),7511,7511,695,528,695,1130,1152,1178,1099,...,260,345,556,562,619,584,390,202,29,2
7,대구광역시 중구 남산1동(2711064000),4216,4216,164,249,809,554,536,616,620,...,117,467,257,271,302,332,243,147,19,1
8,대구광역시 중구 남산2동(2711065000),7245,7245,770,539,875,1292,1185,988,729,...,301,471,666,581,492,372,331,151,39,2
9,대구광역시 중구 남산3동(2711066000),6177,6177,366,532,577,694,1005,1003,924,...,265,283,341,524,548,528,411,246,43,0
10,대구광역시 중구 남산4동(2711067000),16433,16433,1575,1399,1645,2489,2565,2468,2058,...,660,869,1252,1314,1309,1186,856,460,55,2
11,대구광역시 중구 대봉1동(2711068000),7769,7769,540,697,1003,990,1148,1284,929,...,358,522,518,604,692,482,400,271,46,0
12,대구광역시 중구 대봉2동(2711069000),4648,4648,400,348,486,738,742,794,567,...,182,216,369,396,421,314,209,105,17,1

<hr>

[ 데이터 정리 ]

In [89]:
# 첫 번째 행(0번)을 제외한 나머지 행 삭제
age_bukgu_01DF=age_bukgu_01DF.drop(age_bukgu_01DF.index[1:])

age_bukgu_01DF

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 북구 (2723000000),428818,428818,28857,41078,58942,50075,66674,77457,59797,...,19887,27158,23283,33919,39340,30689,16940,9223,1306,40

In [90]:
# 첫 번째 행(0번)을 제외한 나머지 행 삭제
age_bukgu_12DF=age_bukgu_12DF.drop(age_bukgu_12DF.index[1:])

age_bukgu_12DF.columns[1:14]
age_bukgu_12DF[age_bukgu_12DF.columns[1:14]]

,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,2023년12월_거주자_70~79세,2023년12월_거주자_80~89세,2023년12월_거주자_90~99세,2023년12월_거주자_100세 이상
0,418407,418407,26075,39062,56260,48225,62986,77130,61027,30685,15074,1840,43

In [91]:
tr12=age_bukgu_12DF.iloc[0, 1:14]
tr12.index = ['총인구수','연령구간인구수', '0~9세', '10~19세', '20~29세' , '30~39세' ,'40~49세', '50~59세', '60~69세', '70~79세', '80~89세','90~99세','100세 이상']
tr12

총인구수       418407
연령구간인구수    418407
0~9세        26075
10~19세      39062
20~29세      56260
30~39세      48225
40~49세      62986
50~59세      77130
60~69세      61027
70~79세      30685
80~89세      15074
90~99세       1840
100세 이상        43
Name: 0, dtype: object

In [92]:
tr01=age_bukgu_01DF.iloc[0, 1:14]
tr01.index = ['총인구수','연령구간인구수', '0~9세', '10~19세', '20~29세' , '30~39세' ,'40~49세', '50~59세', '60~69세', '70~79세', '80~89세','90~99세','100세 이상']
tr01

총인구수       428818
연령구간인구수    428818
0~9세        28857
10~19세      41078
20~29세      58942
30~39세      50075
40~49세      66674
50~59세      77457
60~69세      59797
70~79세      29843
80~89세      14407
90~99세       1646
100세 이상        42
Name: 0, dtype: object

In [93]:
bukguDF=pd.DataFrame([tr12, tr01])
bukguDF

,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,418407,418407,26075,39062,56260,48225,62986,77130,61027,30685,15074,1840,43
0,428818,428818,28857,41078,58942,50075,66674,77457,59797,29843,14407,1646,42

In [94]:
# 첫 번째 행(0번)을 제외한 나머지 행 삭제
age_junggu_01DF=age_junggu_01DF.drop(age_junggu_01DF.index[1:])


age_junggu_01DF

,행정구역,2023년01월_거주자_총인구수,2023년01월_거주자_연령구간인구수,2023년01월_거주자_0~9세,2023년01월_거주자_10~19세,2023년01월_거주자_20~29세,2023년01월_거주자_30~39세,2023년01월_거주자_40~49세,2023년01월_거주자_50~59세,2023년01월_거주자_60~69세,...,2023년01월_여_거주자_10~19세,2023년01월_여_거주자_20~29세,2023년01월_여_거주자_30~39세,2023년01월_여_거주자_40~49세,2023년01월_여_거주자_50~59세,2023년01월_여_거주자_60~69세,2023년01월_여_거주자_70~79세,2023년01월_여_거주자_80~89세,2023년01월_여_거주자_90~99세,2023년01월_여_거주자_100세 이상
0,대구광역시 중구 (2711000000),80407,80407,5711,5705,11958,12110,11567,11667,10381,...,2828,6350,5807,5789,5902,5553,4150,2302,369,13

In [95]:
# 첫 번째 행(0번)을 제외한 나머지 행 삭제
age_junggu_12DF=age_junggu_12DF.drop(age_junggu_12DF.index[1:])

age_junggu_12DF.columns[1:14]
age_junggu_12DF[age_junggu_12DF.columns[1:14]]

,2023년12월_거주자_총인구수,2023년12월_거주자_연령구간인구수,2023년12월_거주자_0~9세,2023년12월_거주자_10~19세,2023년12월_거주자_20~29세,2023년12월_거주자_30~39세,2023년12월_거주자_40~49세,2023년12월_거주자_50~59세,2023년12월_거주자_60~69세,2023년12월_거주자_70~79세,2023년12월_거주자_80~89세,2023년12월_거주자_90~99세,2023년12월_거주자_100세 이상
0,88481,88481,6806,6229,12612,14436,12906,12660,10959,7349,3963,546,15

In [96]:
sr12=age_junggu_12DF.iloc[0, 1:14]
sr12.index = ['총인구수','연령구간인구수', '0~9세', '10~19세', '20~29세' , '30~39세' ,'40~49세', '50~59세', '60~69세', '70~79세', '80~89세','90~99세','100세 이상']
sr12

총인구수       88481
연령구간인구수    88481
0~9세        6806
10~19세      6229
20~29세     12612
30~39세     14436
40~49세     12906
50~59세     12660
60~69세     10959
70~79세      7349
80~89세      3963
90~99세       546
100세 이상       15
Name: 0, dtype: object

In [97]:
sr01=age_junggu_01DF.iloc[0, 1:14]
sr01.index = ['총인구수','연령구간인구수', '0~9세', '10~19세', '20~29세' , '30~39세' ,'40~49세', '50~59세', '60~69세', '70~79세', '80~89세','90~99세','100세 이상']
sr01

총인구수       80407
연령구간인구수    80407
0~9세        5711
10~19세      5705
20~29세     11958
30~39세     12110
40~49세     11567
50~59세     11667
60~69세     10381
70~79세      7091
80~89세      3701
90~99세       502
100세 이상       14
Name: 0, dtype: object

In [98]:
junguDF=pd.DataFrame([sr12, sr01])
junguDF

,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,88481,88481,6806,6229,12612,14436,12906,12660,10959,7349,3963,546,15
0,80407,80407,5711,5705,11958,12110,11567,11667,10381,7091,3701,502,14

<hr>

In [99]:
bukguDF

,총인구수,연령구간인구수,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
0,418407,418407,26075,39062,56260,48225,62986,77130,61027,30685,15074,1840,43
0,428818,428818,28857,41078,58942,50075,66674,77457,59797,29843,14407,1646,42

In [100]:
# 상승률 계산 (북구)
bukgu_percentage = ((bukguDF.iloc[0, 0:] - bukguDF.iloc[1, 0:]) / bukguDF.iloc[1, 0:]) * 100

# 상승률 계산 (중구)
jungu_percentage = ((junguDF.iloc[0, 0:] - junguDF.iloc[1, 0:]) / junguDF.iloc[1, 0:]) * 100

# 결과 출력
print("북구 상승률:\n", bukgu_percentage)
print('\n\n')
print("중구 상승률:\n", jungu_percentage)

북구 상승률:
 총인구수       -2.427837
연령구간인구수    -2.427837
0~9세       -9.640642
10~19세     -4.907737
20~29세     -4.550236
30~39세     -3.694458
40~49세     -5.531392
50~59세     -0.422170
60~69세      2.056959
70~79세      2.821432
80~89세      4.629694
90~99세     11.786148
100세 이상     2.380952
Name: 0, dtype: float64



중구 상승률:
 총인구수       10.041414
연령구간인구수    10.041414
0~9세       19.173525
10~19세      9.184926
20~29세      5.469142
30~39세     19.207267
40~49세     11.576035
50~59세      8.511185
60~69세      5.567864
70~79세      3.638415
80~89세      7.079168
90~99세      8.764940
100세 이상     7.142857
Name: 0, dtype: float64

In [101]:
## - 결측치 체크 : 컬럼별 요소/원소가 빈 칸인 데이터 존재 여부
## - insa() / isnull() ==> 결과 True/False
print(age_bukgu_01DF.isna())
age_bukgu_01DF.isna().sum()

    행정구역  2023년01월_거주자_총인구수  2023년01월_거주자_연령구간인구수  2023년01월_거주자_0~9세  \
0  False              False                 False              False

   2023년01월_거주자_10~19세  2023년01월_거주자_20~29세  2023년01월_거주자_30~39세  \
0                False                False                False

   2023년01월_거주자_40~49세  2023년01월_거주자_50~59세  2023년01월_거주자_60~69세  ...  \
0                False                False                False  ...

   2023년01월_여_거주자_10~19세  2023년01월_여_거주자_20~29세  2023년01월_여_거주자_30~39세  \
0                  False                  False                  False

   2023년01월_여_거주자_40~49세  2023년01월_여_거주자_50~59세  2023년01월_여_거주자_60~69세  \
0                  False                  False                  False

   2023년01월_여_거주자_70~79세  2023년01월_여_거주자_80~89세  2023년01월_여_거주자_90~99세  \
0                  False                  False                  False

   2023년01월_여_거주자_100세 이상
0                   False

[1 rows x 40 columns]

행정구역                      0
2023년01월_거주자_총인구수         0
2023년01월_거주자_연령구간인구수      0
2023년01월_거주자_0~9세         0
2023년01월_거주자_10~19세       0
2023년01월_거주자_20~29세       0
2023년01월_거주자_30~39세       0
2023년01월_거주자_40~49세       0
2023년01월_거주자_50~59세       0
2023년01월_거주자_60~69세       0
2023년01월_거주자_70~79세       0
2023년01월_거주자_80~89세       0
2023년01월_거주자_90~99세       0
2023년01월_거주자_100세 이상      0
2023년01월_남_거주자_총인구수       0
2023년01월_남_거주자_연령구간인구수    0
2023년01월_남_거주자_0~9세       0
2023년01월_남_거주자_10~19세     0
2023년01월_남_거주자_20~29세     0
2023년01월_남_거주자_30~39세     0
2023년01월_남_거주자_40~49세     0
2023년01월_남_거주자_50~59세     0
2023년01월_남_거주자_60~69세     0
2023년01월_남_거주자_70~79세     0
2023년01월_남_거주자_80~89세     0
2023년01월_남_거주자_90~99세     0
2023년01월_남_거주자_100세 이상    0
2023년01월_여_거주자_총인구수       0
2023년01월_여_거주자_연령구간인구수    0
2023년01월_여_거주자_0~9세       0
2023년01월_여_거주자_10~19세     0
2023년01월_여_거주자_20~29세     0
2023년01월_여_거주자_30~39세     0
2023년01월_여_거주자_40~49세     0
2023년01월_여_거주자_50~59세     0
2023년01월_여_거주자_60~69세     0
2023년01월_여_거주자_70~79세     0
2023년01월_여_거주자_80~89세     0
2023년01월_여_거주자_90~99세     0
2023년01월_여_거주자_100세 이상    0
dtype: int64

In [102]:
## - 결측치 체크 : 컬럼별 요소/원소가 빈 칸인 데이터 존재 여부
## - insa() / isnull() ==> 결과 True/False
print(age_bukgu_12DF.isna())
age_bukgu_12DF.isna().sum()

    행정구역  2023년12월_거주자_총인구수  2023년12월_거주자_연령구간인구수  2023년12월_거주자_0~9세  \
0  False              False                 False              False

   2023년12월_거주자_10~19세  2023년12월_거주자_20~29세  2023년12월_거주자_30~39세  \
0                False                False                False

   2023년12월_거주자_40~49세  2023년12월_거주자_50~59세  2023년12월_거주자_60~69세  ...  \
0                False                False                False  ...

   2023년12월_여_거주자_10~19세  2023년12월_여_거주자_20~29세  2023년12월_여_거주자_30~39세  \
0                  False                  False                  False

   2023년12월_여_거주자_40~49세  2023년12월_여_거주자_50~59세  2023년12월_여_거주자_60~69세  \
0                  False                  False                  False

   2023년12월_여_거주자_70~79세  2023년12월_여_거주자_80~89세  2023년12월_여_거주자_90~99세  \
0                  False                  False                  False

   2023년12월_여_거주자_100세 이상
0                   False

[1 rows x 40 columns]

행정구역                      0
2023년12월_거주자_총인구수         0
2023년12월_거주자_연령구간인구수      0
2023년12월_거주자_0~9세         0
2023년12월_거주자_10~19세       0
2023년12월_거주자_20~29세       0
2023년12월_거주자_30~39세       0
2023년12월_거주자_40~49세       0
2023년12월_거주자_50~59세       0
2023년12월_거주자_60~69세       0
2023년12월_거주자_70~79세       0
2023년12월_거주자_80~89세       0
2023년12월_거주자_90~99세       0
2023년12월_거주자_100세 이상      0
2023년12월_남_거주자_총인구수       0
2023년12월_남_거주자_연령구간인구수    0
2023년12월_남_거주자_0~9세       0
2023년12월_남_거주자_10~19세     0
2023년12월_남_거주자_20~29세     0
2023년12월_남_거주자_30~39세     0
2023년12월_남_거주자_40~49세     0
2023년12월_남_거주자_50~59세     0
2023년12월_남_거주자_60~69세     0
2023년12월_남_거주자_70~79세     0
2023년12월_남_거주자_80~89세     0
2023년12월_남_거주자_90~99세     0
2023년12월_남_거주자_100세 이상    0
2023년12월_여_거주자_총인구수       0
2023년12월_여_거주자_연령구간인구수    0
2023년12월_여_거주자_0~9세       0
2023년12월_여_거주자_10~19세     0
2023년12월_여_거주자_20~29세     0
2023년12월_여_거주자_30~39세     0
2023년12월_여_거주자_40~49세     0
2023년12월_여_거주자_50~59세     0
2023년12월_여_거주자_60~69세     0
2023년12월_여_거주자_70~79세     0
2023년12월_여_거주자_80~89세     0
2023년12월_여_거주자_90~99세     0
2023년12월_여_거주자_100세 이상    0
dtype: int64

In [103]:
## - 결측치 체크 : 컬럼별 요소/원소가 빈 칸인 데이터 존재 여부
## - insa() / isnull() ==> 결과 True/False
print(age_junggu_01DF.isna())
age_junggu_01DF.isna().sum()

    행정구역  2023년01월_거주자_총인구수  2023년01월_거주자_연령구간인구수  2023년01월_거주자_0~9세  \
0  False              False                 False              False

   2023년01월_거주자_10~19세  2023년01월_거주자_20~29세  2023년01월_거주자_30~39세  \
0                False                False                False

   2023년01월_거주자_40~49세  2023년01월_거주자_50~59세  2023년01월_거주자_60~69세  ...  \
0                False                False                False  ...

   2023년01월_여_거주자_10~19세  2023년01월_여_거주자_20~29세  2023년01월_여_거주자_30~39세  \
0                  False                  False                  False

   2023년01월_여_거주자_40~49세  2023년01월_여_거주자_50~59세  2023년01월_여_거주자_60~69세  \
0                  False                  False                  False

   2023년01월_여_거주자_70~79세  2023년01월_여_거주자_80~89세  2023년01월_여_거주자_90~99세  \
0                  False                  False                  False

   2023년01월_여_거주자_100세 이상
0                   False

[1 rows x 40 columns]

행정구역                      0
2023년01월_거주자_총인구수         0
2023년01월_거주자_연령구간인구수      0
2023년01월_거주자_0~9세         0
2023년01월_거주자_10~19세       0
2023년01월_거주자_20~29세       0
2023년01월_거주자_30~39세       0
2023년01월_거주자_40~49세       0
2023년01월_거주자_50~59세       0
2023년01월_거주자_60~69세       0
2023년01월_거주자_70~79세       0
2023년01월_거주자_80~89세       0
2023년01월_거주자_90~99세       0
2023년01월_거주자_100세 이상      0
2023년01월_남_거주자_총인구수       0
2023년01월_남_거주자_연령구간인구수    0
2023년01월_남_거주자_0~9세       0
2023년01월_남_거주자_10~19세     0
2023년01월_남_거주자_20~29세     0
2023년01월_남_거주자_30~39세     0
2023년01월_남_거주자_40~49세     0
2023년01월_남_거주자_50~59세     0
2023년01월_남_거주자_60~69세     0
2023년01월_남_거주자_70~79세     0
2023년01월_남_거주자_80~89세     0
2023년01월_남_거주자_90~99세     0
2023년01월_남_거주자_100세 이상    0
2023년01월_여_거주자_총인구수       0
2023년01월_여_거주자_연령구간인구수    0
2023년01월_여_거주자_0~9세       0
2023년01월_여_거주자_10~19세     0
2023년01월_여_거주자_20~29세     0
2023년01월_여_거주자_30~39세     0
2023년01월_여_거주자_40~49세     0
2023년01월_여_거주자_50~59세     0
2023년01월_여_거주자_60~69세     0
2023년01월_여_거주자_70~79세     0
2023년01월_여_거주자_80~89세     0
2023년01월_여_거주자_90~99세     0
2023년01월_여_거주자_100세 이상    0
dtype: int64

In [104]:
## - 결측치 체크 : 컬럼별 요소/원소가 빈 칸인 데이터 존재 여부
## - insa() / isnull() ==> 결과 True/False
print(age_junggu_12DF.isna())
age_junggu_12DF.isna().sum()

    행정구역  2023년12월_거주자_총인구수  2023년12월_거주자_연령구간인구수  2023년12월_거주자_0~9세  \
0  False              False                 False              False

   2023년12월_거주자_10~19세  2023년12월_거주자_20~29세  2023년12월_거주자_30~39세  \
0                False                False                False

   2023년12월_거주자_40~49세  2023년12월_거주자_50~59세  2023년12월_거주자_60~69세  ...  \
0                False                False                False  ...

   2023년12월_여_거주자_10~19세  2023년12월_여_거주자_20~29세  2023년12월_여_거주자_30~39세  \
0                  False                  False                  False

   2023년12월_여_거주자_40~49세  2023년12월_여_거주자_50~59세  2023년12월_여_거주자_60~69세  \
0                  False                  False                  False

   2023년12월_여_거주자_70~79세  2023년12월_여_거주자_80~89세  2023년12월_여_거주자_90~99세  \
0                  False                  False                  False

   2023년12월_여_거주자_100세 이상
0                   False

[1 rows x 40 columns]

행정구역                      0
2023년12월_거주자_총인구수         0
2023년12월_거주자_연령구간인구수      0
2023년12월_거주자_0~9세         0
2023년12월_거주자_10~19세       0
2023년12월_거주자_20~29세       0
2023년12월_거주자_30~39세       0
2023년12월_거주자_40~49세       0
2023년12월_거주자_50~59세       0
2023년12월_거주자_60~69세       0
2023년12월_거주자_70~79세       0
2023년12월_거주자_80~89세       0
2023년12월_거주자_90~99세       0
2023년12월_거주자_100세 이상      0
2023년12월_남_거주자_총인구수       0
2023년12월_남_거주자_연령구간인구수    0
2023년12월_남_거주자_0~9세       0
2023년12월_남_거주자_10~19세     0
2023년12월_남_거주자_20~29세     0
2023년12월_남_거주자_30~39세     0
2023년12월_남_거주자_40~49세     0
2023년12월_남_거주자_50~59세     0
2023년12월_남_거주자_60~69세     0
2023년12월_남_거주자_70~79세     0
2023년12월_남_거주자_80~89세     0
2023년12월_남_거주자_90~99세     0
2023년12월_남_거주자_100세 이상    0
2023년12월_여_거주자_총인구수       0
2023년12월_여_거주자_연령구간인구수    0
2023년12월_여_거주자_0~9세       0
2023년12월_여_거주자_10~19세     0
2023년12월_여_거주자_20~29세     0
2023년12월_여_거주자_30~39세     0
2023년12월_여_거주자_40~49세     0
2023년12월_여_거주자_50~59세     0
2023년12월_여_거주자_60~69세     0
2023년12월_여_거주자_70~79세     0
2023년12월_여_거주자_80~89세     0
2023년12월_여_거주자_90~99세     0
2023년12월_여_거주자_100세 이상    0
dtype: int64

<hr>